 .container {
      display: flex;
      gap: 200px;
    }

    .box {
      width: 100px;
      height: 100px;
      background-color: green;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-left: 0px;
    
    }

    .box span {
      font-size: 45px;
      color: black;
      font-family: Arial, sans-serif;
    	margin-bottom:50px;
    margin-right:50px;
    
    }
    #eg1{
    background-color:red;
    
    } 
     #eg2{
    background-color:blue;
    
    } 