
/* Your CSS Code here. */
.eg1 {
      width: 100px;
      height: 100px;
      background-color: green;
      color: black;
      font-size: 80px;
      font-family: Arial, sans-serif;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      padding: 5px;
	jus
    }